body {
	margin: 40px ;
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}

/* Wrapper div for the Grid Layout */
.wrapper {
	border:#6F0;
	width:220px;
	margin: 0 auto;
	/* Must use 'grid' for Grid Layout */
	display: grid;
	/* 4 columns - 50px each */
	grid-template-columns: 50px 50px 50px 50px;
	/* 3 rows - title smaller than the rest.. */
	grid-template-rows: 40px 50px 50px ;
	/* Gap between rows and columns */
	grid-gap: 5px;
    background-image:url(button.jpg);
	color: #444;
}


/* Calculator 'screen' */
.titleBox {
	/* The screen spans from line 1 to 5 */
	grid-column-start:1;
	grid-column-end:5;
	background-color: lightgreen;
	color: #fff;
	border-radius: 5px;
	font-size: 170%;
	text-align:right;
	padding:5px;
		background-image:url(button.jpg);
}


/* DIV elements 1, 2, 3...+, - ... */
.key {
	
	color: black;
	border-radius: 0px;
	font-size: 120%;
	border-top:4px soild #6F3;
}
/* Change to darker shade on hover */
.key:hover{
	background-image:url(background.jpg);
}
.clean:hover{
	background-image:url(background.jpg);
}

/* <a> elements inside the DIVs */
.button{
	/* 'block' to get <a> element to fill div */
	display:block;
	margin:0;
	text-align:center;
	color:#3F0;
	text-decoration: none;	
	padding:14px 0 14px;
	
	
}
.clean{
	display:block;
	margin:0;
	text-align:center;
	color:#FF0;
	text-decoration: none;	
	padding:14px 0 14px;
	width:200px;
	

}